img {
    width: 100%;
}
body {
    background-color:rgb(243, 243, 243)
}
h1 {
    color: #008697;
    font-family: "Anton", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.subtitulos {
    color: #008697;
    font-family: "Anton", sans-serif;
    font-weight: 500;
    font-size: large;
}

.tipografiaparrafos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



